.prodotto{
    margin-top: 20px ;
}
.commento{
    border-radius: 30px;
    border-style: groove; 
    height: 120px; 
    width: 400px; 
    margin-top: 15px; 
}
.coloret{
    color: aqua;
    background-color: red;
}